<section class="about">
    <h2 class="section-subtitle">Sobre Nosotros</h2>
    <p>
        Somos una comunidad de creativos activa mayormente integrada en sus
        inicios en gran mayoria<br /> por diseñadores  graficos a medida queel grupo
        tomo su popularidad llego a más personas interesadas uniendose<br> y
        formando parte de la comunidad.
    </p>
</section>

<style>
    .about {
    }
    .about h2 {
        text-align: center;
    }
    .about p {
        text-align: center;
    }
</style>
