<footer>
    <p>© 2024 PhotoMeme - derechos reservados.</p>
    <span>Versión 1.0</span>
</footer>

<style>
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 0 .5rem;
    }
    footer p {
        font-size: 13px;
        margin: auto;
    }
</style>